$blue-bg:#2A1565;
$white-color: #FFFFFF;
$color-secondary:#D060C1;

$xs: 0px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.footer{
    background-color:$blue-bg;
    .row{
        padding:39px 0px;
        display: flex;
        align-items:center;
        justify-content:space-between;
        @media screen and (max-width: $md){
            flex-wrap: wrap;
            padding: 45px 0px 39px 0px;
        }
        .col{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:24px;
            @media screen and (max-width: $md){
                width: 100%;
                justify-content: center;
            }
            a{
                display: flex;
                align-items: center;
                color: $white-color;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                text-transform: capitalize;
                @media screen and (max-width: $md){
                    width: 100%;
                    justify-content: center;
                }
                &:hover{
                   color: $color-secondary;
                }
                img{
                    @media screen and (max-width: $lg){
                        height: 35px;
                    }
                    @media screen and (max-width: $md){
                        height: 25px;
                        margin-bottom: 28px;
                    }
                }
            }
            p{
                color: $white-color;
                margin-bottom: 0px;
                text-transform: capitalize;
            }
        }
    }
}